/**
 *  SASS doesn't do 'reference' files, so if you compile outside of '_main.scss', you'll
 *  have to manually include '_variables.scss'
 */
.ui-grid-row-saving {
  .ui-grid-cell {
    color: $rowSavingForeground !important;
  }
}

.ui-grid-row-dirty {
  .ui-grid-cell {
    color: $rowDirtyForeground;
  }
}

.ui-grid-row-error {
  .ui-grid-cell {
    color: $rowErrorForeground !important;
  }
}